.container {
  padding-left: 15px;
  padding-right: 15px;
}

.link-hover {
  position: relative;
}

.link-hover::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.link-hover:hover::after {
  width: 100%;
}

.link-hover-primary:hover {
  color: #003366 !important; /* Цвет текста Bootstrap Primary */
  text-decoration: underline; /* Подчеркивание при наведении */
}

.btn-print {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-print:hover {
  background-color: #0056b3;
  transition: background-color 0.3s;
}

/* Стили для страницы при печати */
@media print {
  /* Скрываем меню навигации */
  .no-print {
    display: none !important;
  }

  h3 {
    font-size: 1.4rem; /* Размер шрифта как у h5 */
    font-weight: bold; /* Установить стиль шрифта, чтобы он соответствовал h5 */
  }

  #score-visualisation {
    display: none;
  }

  /* Скрываем кнопку с id "imprimir-btn" */
  #imprimir-btn {
    display: none;
  }

  /* Скрываем футер */
  footer {
    display: none;
  }

  /* Скрываем кнопку "imprimir" */
  .imprimir {
    display: none;
  }

  /* Печатаем всё остальное */
  body {
    visibility: visible;
    font-size: 1.1rem; /* Устанавливает общий размер текста */
  }

  
}
